<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/lodash.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="cancel" id="cancel"></div>
      <hr>
      <div class="fs-wrapper">
        <input type="text" name="FS" class="fs-input full-width" id="FS" value="/">
        <div id="suggestion" class="suggestion"></div>
      </div>
      <ul id="fileList" class="fileList">
      </ul> 
    </div>
    
  </body>
</html>