<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/lodash.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper card-shadow">
      <header class="control-header">
        <div class="player-controls">
          <div class="button_bwd dib"></div>
          <div id="playPause" class="button_playpause dib"></div>
          <div class="button_fwd dib"></div>
          <div class="sound_control">
            <div class="speaker_quiet"></div>
            <div class="speaker_loud"></div>
            <div class="track">
              <div class="active"></div>
            </div>
          </div>
        </div>
        <div class="status-controls">
          <div class="artist-line">
            Foobias Barstrap
          </div>
          <div class="track-line">
            Do my fooba fooba thingy.
          </div>
          <div class="sound_control full-width">
            <div class="text-left">2:44</div>
            <div class="text-right">-1:03</div>
            <div class="track">
              <div class="active"></div>
            </div>
          </div>
        </div>
        <div class="search-misc-controls">
          
        </div>
      </header>
      <h1><%= title %></h1>
      <ul id="menu">
        <li data-source="filesystem" class="active">fs</li>
        <li data-source="spotify">spotify</li>
      </ul>
      <hr>
      <div class="fs-wrapper">
        <input type="text" name="FS" class="fs-input full-width" id="FS" value="/">
        <div id="suggestion" class="suggestion"></div>
      </div>
      <ul id="deviceList" class="deviceList">
      </ul>
      <ul id="fileList" class="fileList">
      </ul> 
      <div class="cf"></div>
    </div>
    
  </body>
</html>