<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reciever App</title>
	<!--	all assets are located in the public folder
			The LESS file get compiled automatically
			Load CSS like this:
	 -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	some html goes here.
</body>
</html>
